.productId{
    margin: 0 auto;
    max-width: 1200px;
}
.productId__path{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.productId__point{
    color: var(--color-red);
    font-size: 10px;
}

.productId__nameProduct{
    color: #515151;
}